.repl_history
build
tags
vendor/pods
vendor/TestFlightSDK
app/pixate_code.rb
app/testflight_launcher.rb
resources/*.nib
resources/*.momd
resources/*.storyboardc
ib.xcodeproj
.DS_Store
nbproject
.redcar
#*#
*~
*.sw[po]
.eprj
.sass-cache
.idea
.dat*
